.myForm {
  width: 50%;
  margin: auto;
}

.nav-link.active {
  background-color: #198754 !important;
  color: white !important;
}

.nav-link {
  color: #198754 !important;
}


.regForm {
  width: 90%;
  margin: auto;
}


@media (max-width: 768px) {
  .regForm  > * {
    width: 100%;
  }
}
